<div class="repo p-2 text-center">
  <a href="https://github.com/{{ include.username }}">
    <img class="repo-img-light w-100" alt="{{ include.username }}" src="https://github-readme-stats-one-bice.vercel.app/api?username={{ include.username }}&show_icons=true&theme={{ site.repo_theme_light }}&include_all_commits=true&count_private=true&role=OWNER,ORGANIZATION_MEMBER">
    <img class="repo-img-dark w-100" alt="{{ include.username }}" src="https://github-readme-stats-one-bice.vercel.app/api?username={{ include.username }}&show_icons=true&theme={{ site.repo_theme_dark }}&include_all_commits=true&count_private=true&role=OWNER,ORGANIZATION_MEMBER">
  </a>
</div>
